.DS_Store
.ipynb_checkpoints

# C extensions
*.so

# Distribution / packaging
.Python
*.pyc
env/
env3/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
