.DS_Store
.ipynb_checkpoints

# C extensions
*.so

# Distribution / packaging
.Python
*.pyc
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

env/
env2
env3/
env_nocython/
env_test/
.cache/
